#gallery {
  display: flex;
  list-style: none;
}

#gallery li {
  width: 40%;
  margin-right: 1%;
}

#gallery img {
  width: 100%;
  height: auto;
}

#validation-input {
  border: 1px solid black;
}

#validation-input.valid {
  border-color: green;
}

#validation-input.invalid {
  border-color: red;
}
